{{#section "css"}}
  <link rel="stylesheet" href="../../public/assets/css/student_profile.css" />
{{/section}}
<div style="margin-top: 80px;">
  <div class="main-content-student">
    <div class="container">
      <div class="row">
        <div
          class="col-md-2 d-none d-md-block bg-light sidebar"
          style="height: 100%;"
        >
          <div class="list-group" id="list-tab" role="tablist">
            <div class="card text-center" style="background-color: #F2F2F2;">
              <div class="img-profile">
                {{#if (isEmpty user.image)}}
                  {{#if gender}}
                    <img
                      class="img-fluid rounded-circle img-thumbnail img-responsive"
                      src="../../public/assets/images/no_avt_male.png"
                      alt="avatar"
                    />
                  {{else}}
                    <img
                      class="img-fluid rounded-circle img-thumbnail img-responsive"
                      src="../../public/assets/images/no_avt_female.png"
                      alt="avatar"
                    />
                  {{/if}}
                {{else}}
                  <img
                    class="img-fluid rounded-circle img-thumbnail img-responsive"
                    src="../../public/assets/images/{{user.image}}"
                    alt="avatar"
                  />
                {{/if}}
              </div>
              <div>
                <p>Name</p>
              </div>
            </div>
            <a
              href="/student"
              class="list-group-item list-group-item-action"
              id="list-profile-list"
            >Profile</a>
            <a
              href="/student/photo"
              class="list-group-item list-group-item-action"
              id="list-photo-list"
            >Photo</a>
            <a
              href="/student/account_security"
              class="list-group-item list-group-item-action"
              id="list-password-list"
            >Account Security</a>
            <a
              href="/student/course_learn"
              class="list-group-item list-group-item-action"
              id="list-courses-list"
            >My learning</a>
            <a
              href="/student/favorite_course"
              class="list-group-item list-group-item-action active"
              id="list-favorite-list"
            >Favorite course</a>
          </div>
        </div>
        <div class="col-9 h-100">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="list-favorite"
              role="tabpanel"
              aria-labelledby="list-favorite-list"
            >
              <div class="card text-center">
                <div
                  class="card-header"
                  style="background-color: #2b6777; color: #ffffff;"
                >
                  <h3>Favorite courses</h3>
                  <p>Add your favorite courses</p>
                </div>
                <div class="card-body" style="background-color: #f2f2f2;">
                  <div class="more-courses-container">
                    {{#if (isFree courses.length)}}
                      <div class="no-courses">
                        <div class="title-noti">No courses</div>
                      </div>
                    {{/if}}
                    {{#each courses}}
                      <div class="course">
                        <div class="course-img">
                          <div class="img-block">
                            <img
                              class="img-fluid"
                              src="../../public/assets/images/{{image}}"
                              alt=""
                            />
                            <div class="fa fa-heart icon-show"></div>
                          </div>
                        </div>
                        <div class="course-body">
                          <a
                            class="course-categoty"
                            href="/courses/learn/{{idCourse}}"
                          >{{name}}</a>
                          <div class="course-title">{{des}}</div>
                          <div class="rating">
                            <div style="display: flex;">
                              <div
                                class="star-icon"
                                style="padding-right: 0.1rem;"
                              >
                                <span
                                  class="number-rating-courses"
                                  style="font-weight: 700;"
                                >
                                  {{rate}}
                                </span>
                                {{#star rate}}
                                  {{this}}
                                {{/star}}
                              </div>
                              <span>({{numberRate}})</span>
                            </div>
                            <div>
                              <span>
                                {{numberLecture}}
                                lectures
                              </span>
                            </div>
                            <div class="price-course">${{price}}</div>
                          </div>
                          {{! <button class="btn course-btn">Learn course</button> }}
                        </div>
                      </div>
                    {{/each}}
                  </div>
                  <div class="block-pagination">
                    {{#if havePagination}}
                      <ul class="pagination">
                        {{#if firstPage}}
                          <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                          </li>
                        {{else}}
                          <li class="page-item">
                            <a
                              class="page-link"
                              href="{{prevPage}}"
                            >Previous</a>
                          </li>
                        {{/if}}
                        {{#each this.pageNumbers}}
                          {{#if isCurrent}}
                            <li class="page-item active" aria-current="page">
                              <span class="page-link">{{value}}</span>
                            </li>
                          {{else}}
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="?page={{value}}"
                              >{{value}}</a>
                            </li>
                          {{/if}}
                        {{/each}}
                        {{#if lastPage}}
                          <li class="page-item disabled">
                            <span class="page-link">Next</span>
                          </li>
                        {{else}}
                          <li class="page-item">
                            <a class="page-link" href="{{nextPage}}">Next</a>
                          </li>
                        {{/if}}
                      </ul>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>