{{#section "css"}}
  <link rel="stylesheet" href="../../public/assets/css/student_profile.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/validation/form.css"
  />
  <style>
    footer
    { margin-top: 50px; } 
  </style>
{{/section}}
{{#section "js"}}
  <script src="../../public/assets/js/profile/profile.js"></script>
{{/section}}
<form method="post">
  <div style="margin-top: 80px; min-height: 600px;">
    <div class="main-content-student">
      <div class="container">
        <div class="row">
          <div
            class="col-md-2 d-none d-md-block bg-light sidebar"
            style="height: 100%;"
          >
            <div class="list-group" id="list-tab" role="tablist">
              <div class="card text-center" style="background-color: #F2F2F2;">
                <div class="img-profile">
                  {{#if (isEmpty user.image)}}
                    {{#if gender}}
                      <img
                        class="img-fluid rounded-circle img-thumbnail img-responsive"
                        src="../../public/assets/images/no_avt_male.png"
                        alt="avatar"
                      />
                    {{else}}
                      <img
                        class="img-fluid rounded-circle img-thumbnail img-responsive"
                        src="../../public/assets/images/no_avt_female.png"
                        alt="avatar"
                      />
                    {{/if}}
                  {{else}}
                    <img
                      class="img-fluid rounded-circle img-thumbnail img-responsive"
                      src="../../public/assets/images/{{user.image}}"
                      alt="avatar"
                    />
                  {{/if}}
                </div>
                <div>
                  <p>{{name}}</p>
                </div>
              </div>
              <a
                href="/student"
                class="list-group-item list-group-item-action active"
                id="list-profile-list"
              >Profile</a>
              <a
                href="/student/photo"
                class="list-group-item list-group-item-action"
                id="list-photo-list"
              >Photo</a>
              <a
                href="/student/account_security"
                class="list-group-item list-group-item-action"
                id="list-password-list"
              >Account Security</a>
              <a
                href="/student/course_learn"
                class="list-group-item list-group-item-action"
                id="list-courses-list"
              >My learning</a>
              <a
                href="/student/favorite_course"
                class="list-group-item list-group-item-action"
                id="list-favorite-list"
              >Favorite course</a>
            </div>
          </div>
          <div class="col-9 h-100">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="list-profile"
                role="tabpanel"
                aria-labelledby="list-profile-list"
              >
                <div>
                  <div
                    class="card text-center card-header"
                    style="background-color: #2b6777; color: #ffffff;"
                  >
                    <h3>Public profile</h3>
                    <p>Add information about yourself</p>
                  </div>
                  <div class="card-body" style="background-color: #f2f2f2;">
                    <form>
                      <div class="form-group">
                        <label class="px-2" for="email">Email address:</label>
                        <div class="email-input-block">
                          <input
                            type="email"
                            class="form-control"
                            value="{{user.email}}"
                            readonly
                          />
                          <div class="strengthMessage2"></div>
                          <button
                            class="btn btn-primary fa fa-pencil-square btn-email"
                            type="button"
                            data-toggle="modal"
                            data-target="#form-update-modal2"
                          >
                          </button>
                          <div
                            class="modal fade"
                            id="form-update-modal2"
                            tabindex="-1"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div
                                  class="modal-header"
                                  style="background-color: #2b6777; color: #ffffff;"
                                >
                                  <h5
                                    class="modal-title"
                                    id="form-update-modalLabel2"
                                  >Change your email</h5>
                                  <button
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"
                                    aria-label="Close"
                                  >
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="form-row form-group">
                                    <div class="col">
                                      <input
                                        id="email"
                                        type="text"
                                        name="email"
                                        class="form-control"
                                        value="{{user.email}}"
                                        placeholder="Your email address"
                                      />
                                      <span class="form-message"></span>
                                    </div>
                                  </div>
                                  <div class="form-row form-group">
                                    <div class="col">
                                      <input
                                        id="password"
                                        type="password"
                                        name="password_email"
                                        class="form-control"
                                        placeholder="Password"
                                      />
                                      <div id="strengthMessage"></div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button
                                      type="button"
                                      class="btn btn-secondary"
                                      data-dismiss="modal"
                                    >Close</button>
                                    <button
                                      type="submit"
                                      class="btn btn-primary course-btn"
                                      formaction="/student/change_email/post"
                                    >Save</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="px-2" for="firstname">First Name:</label>
                        <input
                          type="text"
                          aria-label="First name"
                          class="form-control"
                          value="{{user.firstName}}"
                          readonly="/"
                        />
                      </div>
                      <div class="form-group">
                        <label class="px-2" for="Lastname">Last Name:</label>
                        <input
                          type="text"
                          aria-label="Last name"
                          class="form-control"
                          value="{{user.lastName}}"
                          readonly
                        />
                      </div>
                      <div class="form-group">
                        <label class="px-2" for="Gender">Gender:</label>
                        <input
                          type="text"
                          aria-label="Gender"
                          class="form-control"
                          value="{{user.gender}}"
                          readonly="/"
                        />
                      </div>
                      <button
                        type="button"
                        class="btn btn-primary course-btn"
                        data-toggle="modal"
                        data-target="#form-update-modal"
                      >Change profile</button>
                      <div
                        class="modal fade"
                        id="form-update-modal"
                        tabindex="-1"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div
                              class="modal-header"
                              style="background-color: #2b6777; color: #ffffff;"
                            >
                              <h5
                                class="modal-title"
                                id="form-update-modalLabel"
                              >Update your information</h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                              </button>
                            </div>
                            <div class="modal-body">
                              <div class="form-row form-group">
                                <div class="col">
                                  <input
                                    id="firstname"
                                    type="text"
                                    name="firstname"
                                    class="form-control"
                                    placeholder="First name"
                                  />
                                  <div id="strengthMessage4"></div>
                                </div>
                                <div class="col">
                                  <input
                                    id="lastname"
                                    type="text"
                                    name="lastname"
                                    class="form-control"
                                    placeholder="Last name"
                                  />
                                  <div id="strengthMessage3"></div>
                                </div>
                              </div>
                              <div class="form-group pt-3">
                                <select class="custom-select" name="gender">
                                  <option selected value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                              </div>
                              <div class="form-row form-group">
                                <div class="col">
                                  <input
                                    id="password1"
                                    type="password"
                                    name="password_profile"
                                    class="form-control"
                                    placeholder="Password"
                                  />
                                  <div id="strengthMessage1"></div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-dismiss="modal"
                                >Close</button>
                                <button
                                  type="submit"
                                  class="btn btn-primary course-btn"
                                  formaction="/student/update_profile/post"
                                >Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>