<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FIT-20CLC-KTPM-PTUDW-FinalProject-OnlineAcademy</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../public/assets/css/footer.css" />
    <style>
      #btn-back-to-top {
          position: fixed;
          bottom: 20px;
          right: 20px;
          display: none;
      }
      a.navbar1{
          color: black;
          font-weight: bold;
          border: 1px solid #52ab98;
          margin: 0px 5px;
          text-align: center;
          text-decoration: none;
          display: inline-block; }
      a.navbar1:hover{
          background-color: #52ab98; }
      .dropdown-item{
        font-weight:bold;
      }
      .dropdown-item:hover{
        background-color: #52ab98;
        color:#fff;
      }

      .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
        display: block;
      }

      .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
      }

      .dropdown-submenu:hover>a:after {
        border-left-color: #ffffff;
      }

      .dropdown-submenu.pull-left {
        float: none;
      }

      .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
      }
    </style>
    {{{_sections.css}}}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="row" style="width: 100%">
          <div class="col-sm-2">
            <a class="navbar-brand" href="/" style="color: black"><h3>AcademyOnline</h3></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>

            <div class="col-sm-1">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navbar1" href="/categories/" role="button" data-toggle="dropdown" aria-expanded="false">
                        Explore
                    </a>
                    <ul class="dropdown-menu">
                      {{#each CatList}}
                        <li class="dropdown-submenu">
                        <a class="dropdown-item" href="/categories?category={{name}}">{{name}}</a>
                        <ul class="dropdown-menu">
                          {{#each languageList}}
                              <a class="dropdown-item" href="/categories?category={{../name}}&language={{name}}">{{name}}</a></li>
                          {{/each}}
                        </ul>
                      </li>
                      {{/each}}
                    </ul>
                </div>
            </div>
          {{#if auth}}
              {{#if (ifEqualString authUser.permission "Student")}}
                  {{>header_student}}
              {{else}}
                  {{#if (ifEqualString authUser.permission "Teacher")}}
                      {{>header_teacher}}
                  {{else}}
                      {{>header_admin}}
                  {{/if}}
              {{/if}}
          {{else}}
              {{>header_guest}}
          {{/if}}
        </div>
    </nav>
    
    {{{body}}}
  
    <footer class="footer-distributed" style="bottom:0; width:100%;">

			<div class="footer-left">
				<h3>Online<span>Academy</span></h3>
				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">FIT - HCMUS - 20CLC © 2023</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>227 Nguyễn Văn Cừ</span> Quận 5, Thành phố Hồ Chí Minh </p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1.555.555.5555</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    
    {{{_sections.js}}}
  </body>
</html>
