<div class="container-fluid" style="margin-top: 80px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <h4
          class="card-header"
          style="background-color:#52ab98; color:#fff"
        >Management</h4>
        <div class="list-group list-group-flush">
          <a
            href="/admin"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >
            All User
          </a>
          <a
            href="/admin/managestudents"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Student</a>
          <a
            href="/admin/manageteachers"
            style="font-weight:bold"
            class="list-group-item list-group-item-action"
          >Teacher</a>
          <a
            href="/admin/managecategory"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Course Categories</a>
          <a
            href="/admin/managelanguage"
            class="list-group-item list-group-item-action active"
            aria-current="true"
            style="background-color:#2b6777; color:#000; font-weight:bold"
          >Languages</a>
          <a
            href="/admin/managecourses"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Courses</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Total Languages:
          {{languages.length}}
        </h4>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <h4
          class="card-header d-flex justify-content-between"
          style="background-color:#52ab98; color:#fff"
        >
          Course Categories Management
          <div>
            <a
              class="btn btn-sm btn-outline-primary"
              href="/admin/addlanguage"
              role="button"
              style="color:#fff; border-color:#fff"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add Language
            </a>
          </div>
        </h4>
        {{#if this.empty}}
          <div class="card-body text-muted">
            Empty Data!!!
          </div>
        {{else}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th class="text-center" scope="col">Number Courses</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each languages}}
                <tr>
                  <th scope="row">{{_id}}</th>
                  <td>{{name}}</td>
                  <td>{{categoryName}}</td>
                  <td class="text-center">{{courseList.length}}</td>
                  <td class="text-right">
                    <a
                      class="btn btn-sm btn-primary"
                      href="/admin/managelanguageid?id={{_id}}"
                      role="button"
                    >
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a
                      class="btn btn-sm btn-primary"
                      href="/admin/editlanguage?id={{_id}}"
                      role="button"
                    >
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </td>

                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        <div class="card-footer text-muted">
          Languages
        </div>
      </div>
    </div>
  </div>
</div>