{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/admin/index.css"
  />
  <style>
    footer { margin-top: 50px; }
  </style>
{{/section}}
<div class="container-fluid" style="margin-top: 80px; min-height: 600px;">
  <div class="row" style="margin-bottom:16px">
    <div class="col-sm-3">
      <div class="card mb-3">
        <h4
          class="card-header"
          style="background-color:#52ab98; color:#fff"
        >Management</h4>
        <div class="list-group list-group-flush">
          <a
            href="/admin"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >
            All User
          </a>
          <a
            href="/admin/managestudents"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Student</a>
          <a
            href="/admin/manageteachers"
            class="list-group-item list-group-item-action active"
            aria-current="true"
            style="background-color:#2b6777; color:#fff; font-weight:bold"
          >Teacher</a>
          <a
            href="/admin/managecategory"
            class="list-group-item list-group-item-action"
            aria-current="true"
            style="font-weight:bold"
          >Course Categories</a>
          <a
            href="/admin/managelanguage"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Languages</a>
          <a
            href="/admin/managecourses"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Courses</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Total Teachers: {{users.length}} </h4>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <h4
          class="card-header d-flex justify-content-between"
          style="background-color:#52ab98; color:#fff"
        >
          Teachers Management
          <a
            class="btn btn-sm btn-outline-primary adding"
            href="/admin/addteacher"
            role="button"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Teacher
          </a>
        </h4>

        {{#if this.empty}}
          <div class="card-body text-muted">
            Empty Data!!!
          </div>
        {{else}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Gender</th>
                {{! <th scope="col">DOB</th> }}
                <th scope="col">Permission</th>
                <th scope="col">Email</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each users}}
                {{#if (ifEqualString blocked "True")}}
                  <tr style="background-color: #fe8484;">
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.gender}}</td>
                    {{!-- <td>{{this.dob}}</td> --}}
                    <td>{{this.permission}}</td>
                    <td>{{this.email}}</td>
                    <td class="text-right">
                      <a
                        class="btn btn-sm btn-primary editPencil"
                        href="/admin/edituser?id={{this._id}}"
                        role="button"
                        title="Edit"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a
                        class="btn btn-sm btn-primary view"
                        href="/admin/manageteachersid?id={{_id}}"
                        role="button"
                        style="margin-right:4px"
                      >
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>

                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <th scope="row">{{math @index "+" 1}}</th>
                    <td>{{this.firstName}}</td>
                    <td>{{this.lastName}}</td>
                    <td>{{this.gender}}</td>
                    {{!-- <td>{{this.dob}}</td> --}}
                    <td>{{this.permission}}</td>
                    <td>{{this.email}}</td>
                    <td class="text-right">
                      <a
                        class="btn btn-sm btn-primary editPencil"
                        href="/admin/edituser?id={{this._id}}"
                        role="button"
                        title="Edit"
                      >
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                      <a
                        class="btn btn-sm btn-primary view"
                        href="/admin/manageteachersid?id={{_id}}"
                        role="button"
                        style="margin-right:4px"
                      >
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                {{/if}}
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        {{#if havePagination}}
          <ul class="pagination">
            {{#if firstPage}}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{prevPage}}">Previous</a>
              </li>
            {{/if}}
            {{#each this.pageNumbers}}
              {{#if isCurrent}}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{value}}</span>
                </li>
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
              {{/if}}
            {{/each}}
            {{#if lastPage}}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{nextPage}}">Next</a>
              </li>
            {{/if}}
          </ul>
        {{/if}}
        <div class="card-footer text-muted">
          Users Teacher
        </div>
      </div>
    </div>
  </div>
</div>