<div class="container-fluid" style="margin-top: 80px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-3">
        <h4
          class="card-header"
          style="background-color:#52ab98; color:#fff"
        >Management</h4>
        <div class="list-group list-group-flush">
          <a
            href="/admin"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >
            All User
          </a>
          <a
            href="/admin/managestudents"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Student</a>
          <a
            href="/admin/manageteachers"
            class="list-group-item list-group-item-action active"
            aria-current="true"
            style="background-color:#2b6777; color:#000; font-weight:bold"
          >Teacher</a>
          <a
            href="/admin/managecategory"
            class="list-group-item list-group-item-action"
            aria-current="true"
            style="font-weight:bold"
          >Course Categories</a>
          <a
            href="/admin/managecourses"
            class="list-group-item list-group-item-action"
            style="font-weight:bold"
          >Courses</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Total Users: {{users.length}} </h4>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <h4
          class="card-header d-flex justify-content-between"
          style="background-color:#52ab98; color:#fff"
        >
          Teachers Management
        </h4>
        {{#if this.empty}}
          <div class="card-body text-muted">
            Empty Data!!!
          </div>
        {{else}}
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Họ Tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Phân Loại</th>
                <th scope="col">Email</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{!-- {{log users}} --}}
              {{#each users}}

                <tr>
                  <th scope="row">{{@index}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.gender}}</td>
                  <td>{{this.permission}}</td>
                  <td>{{this.email}}</td>
                  <td class="text-right">
                    <a
                      class="btn btn-sm btn-primary"
                      href="/admin/edituser?id={{this._id}}"
                      role="button"
                      title="Edit"
                    >
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        <div class="card-footer text-muted">
          Users Teacher
        </div>
      </div>
    </div>
  </div>
</div>