{{#section "css"}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/home.css" />
{{/section}}

{{#section "js"}}
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="../../public/assets/js/home.js"></script>
{{/section}}

<div>
  <div class="swiper">
    <div class="swiper-wrapper">
      {{#each SliderList}}
        <div class="swiper-slide">
          <img class="slider-img" src="{{SliderImage}}" alt="" />
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <br />
  <div class="info-container">
    <div class="info-item">
      <div class="info-item-icon"><i class="fa fa-play" aria-hidden="true"></i></div>
      <b>Learn in-demand skills with over 213,000 video courses</b>
    </div>
    <div class="info-item">
      <div class="info-item-icon"><i class="fa fa-star" aria-hidden="true"></i></div>
      <b>Choose courses taught by real-world experts</b>
    </div>
    <div class="info-item">
      <div class="info-item-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
      <b>Learn at your own pace, with lifetime access on mobile and desktop</b>
    </div>
  </div>

  <div class="card text-left mx-auto border-0" style="width: 90%">
    <div class="card-body">
      <h3 class="card-title"><b>Categories</b></h3>
      <div class="menu-container">
        {{#each CatList}}
          <a class="menu-item" href="/categories?category={{name}}">
            <img class="menu-category-image" src="{{image}}" alt="" />
            <p class="category-name">{{name}}</p>
          </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card text-left mx-auto border-0" style="width: 90%">
    <div class="card-body">
      <h3 class="card-title"><b>Top languages in this week</b></h3>
      <div class="menu-container">
        {{#each LanguageList}}
          <a class="menu-item" href="/categories?language={{name}}">
            <img class="menu-category-image" src="{{image}}" alt="" />
            <p class="category-name">{{name}}</p>
          </a>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card text-left mx-auto border-0" style="width: 90%">
    <div class="card-body">
      <h3 class="card-title"><b>Featured courses</b></h3>
      <div class="menu-container">
        {{#each featuredCourses}}
          <div class="menu-item">
            <div class="parent-image">
              <img class="menu-item-image" src="{{image}}" alt="" />
              {{#if bestSeller}}
                <img src="../../../public/assets/images/bestseller.png" alt="" class="bestseller" />
              {{/if}}
            </div>
            <b>{{name}}</b>
            <p class="sub-info-item">{{createdBy}}</p>
            <div style="display: flex;">
              <p class="sub-info-item">{{CourseViews}} views</p>
              <p class="sub-info-item">{{Students}} students</p>
            </div>
            <p class="sub-info-item">Posting date:
              {{createdAt}}</p>
            <div class="rate">
              <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
              {{#each fullStar}}
                <span class="fa fa-star star"></span>
              {{/each}}
              {{#each halfStar}}
                <span class="fa fa-star-half-o star"></span>
              {{/each}}
              {{#each blankStar}}
                <span class="fa fa-star-o star"></span>
              {{/each}}
              <span
                style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);"
              >({{CourseRatingVote}})</span>
            </div>
            <b style="margin-bottom: 5px;">{{price}}đ</b>
            <div class="category-lable-container">
              <p class="category-lable label1">{{categoryName}}</p>
              <p class="category-lable label2">{{languageName}}</p>
              {{#if new}}
                <p class="category-lable label3">New</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card text-left mx-auto border-0" style="width: 90%">
    <div class="card-body">
      <h3 class="card-title"><b>Most viewed courses</b></h3>
      <div class="menu-container">
        {{#each mostViewedCourses}}
          <div class="menu-item">
            <div class="parent-image">
              <img class="menu-item-image" src="{{image}}" alt="" />
              {{#if bestSeller}}
                <img src="../../../public/assets/images/bestseller.png" alt="" class="bestseller" />
              {{/if}}
            </div>
            <b>{{name}}</b>
            <p class="sub-info-item">{{createdBy}}</p>
            <div style="display: flex;">
              <p class="sub-info-item">{{CourseViews}} views</p>
              <p class="sub-info-item">{{Students}} students</p>
            </div>
            <p class="sub-info-item">Posting date:
              {{createdAt}}</p>
            <div class="rate">
              <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
              {{#each fullStar}}
                <span class="fa fa-star star"></span>
              {{/each}}
              {{#each halfStar}}
                <span class="fa fa-star-half-o star"></span>
              {{/each}}
              {{#each blankStar}}
                <span class="fa fa-star-o star"></span>
              {{/each}}
              <span
                style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);"
              >({{CourseRatingVote}})</span>
            </div>
            <b style="margin-bottom: 5px;">{{price}}đ</b>
            <div class="category-lable-container">
              <p class="category-lable label1">{{categoryName}}</p>
              <p class="category-lable label2">{{languageName}}</p>
              {{#if new}}
                <p class="category-lable label3">New</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card text-left mx-auto border-0" style="width: 90%">
    <div class="card-body">
      <h3 class="card-title"><b>Latest course</b></h3>
      <div class="menu-container">
        {{#each latestCourses}}
          <div class="menu-item">
            <div class="parent-image">
              <img class="menu-item-image" src="{{image}}" alt="" />
              {{#if bestSeller}}
                <img src="../../../public/assets/images/bestseller.png" alt="" class="bestseller" />
              {{/if}}
            </div>
            <b>{{name}}</b>
            <p class="sub-info-item">{{createdBy}}</p>
            <div style="display: flex;">
              <p class="sub-info-item">{{CourseViews}} views</p>
              <p class="sub-info-item">{{Students}} students</p>
            </div>
            <p class="sub-info-item">Posting date:
              {{createdAt}}</p>
            <div class="rate">
              <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
              {{#each fullStar}}
                <span class="fa fa-star star"></span>
              {{/each}}
              {{#each halfStar}}
                <span class="fa fa-star-half-o star"></span>
              {{/each}}
              {{#each blankStar}}
                <span class="fa fa-star-o star"></span>
              {{/each}}
              <span
                style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);"
              >({{CourseRatingVote}})</span>
            </div>
            <b style="margin-bottom: 5px;">{{price}}đ</b>
            <div class="category-lable-container">
              <p class="category-lable label1">{{categoryName}}</p>
              <p class="category-lable label2">{{languageName}}</p>
              {{#if new}}
                <p class="category-lable label3">New</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>