{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/teacher/teacher_profile.css"
  />
   <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/teacher/my_course.css"
  />
  <link rel="stylesheet" href="../../../public/assets/css/teacher/update_course.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}

{{#section 'js'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
  <script>
    $('#image').fileinput({
      dropZoneEnabled: false,
      maxFileCount: 1,
      theme: 'fa4',
      allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
  </script>
  
  <script src="https://cdn.tiny.cloud/1/dhym75o8q7p25h4vk3ps6ixfp187x91lij9utf6fedskb069/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline | numlist bullist | alignleft aligncenter alignright | forecolor backcolor table link',
      ],
    });
  </script>
{{/section}}
<div class="container-fluid" style="margin-top: 100px; margin-bottom: 10%;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li class="pt-5 nav-item">
            <a class="nav-link active" href="">
              {{#if course.info}}
              <i class="fa fa-check-circle-o" aria-hidden="true"></i>
              {{else}}
              <i class="fa fa-circle-thin" aria-hidden="true"></i>
              {{/if}} Infomation
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/course/{{course._id}}/pricing">
              <i class="fa fa-circle-thin" aria-hidden="true"></i> 
              Pricing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/course/{{course._id}}/curriculum">
              <i class="fa fa-circle-thin" aria-hidden="true"></i> 
              Curriculum
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/course/{{course._id}}/rating_review">
              <i class="fa fa-circle-thin" aria-hidden="true"></i> 
              Rating & Review
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          <div class="card-header">
            <h3>Basic Information</h3>
            <p>Update basic information of course here.</p>
          </div>

          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              <div class="pl-5 pr-5">
                <div class="input-group form-group">
                  <label class="h6" for="">Course title</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      value="{{this.course.name}}"
                      name="name"
                    />
                    <input type="hidden" value="{{this.course._id}}" name="_id"/>
                  </div>
                </div>
                <div class="input-group form-group">
                  <label class="h6" for="">Course subtitle</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      {{#if (isEmpty this.course.briefDescription) }}
                      placeholder="Insert your course subtitle"
                      {{else}}
                      value="{{this.course.briefDescription}}"
                      {{/if}}
                      name="briefDescription"
                    />
                  </div>
                </div>
                <div class="input-group form-group">
                  <label class="h6" for="desc">Course description</label>
                  <div class="input-group">
                    <textarea id="desc" name="detailDescription">
                      {{#if (isEmpty this.course.detailDescription)}}
                
                      {{else}}
                      {{{this.course.detailDescription}}}
                      {{/if}}
                    </textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="d-flex h6">Course image</label>
                  <div class="bg-light border">
                    <div class="mx-auto col-6 p-3">
                      <img
                        {{#if (isEmpty this.course.image) }}
                        src="../../../public/assets/images/course_image.jpg"
                        {{else}}
                        src="../../../public/assets/images/{{this.course.image}}"
                        {{/if}}
                        class="img-fluid"
                        alt="Course Image"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="image" class="d-flex h6">Add/Change Image</label>
                  <input type="file" id="image" name="image">
                </div>
            
                <button type="submit" class="btn btn-primary d-flex px-4">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
