{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/teacher_profile.css"
  />
  <link rel="stylesheet" type="text/css" href="../../../public/assets/css/validation/form.css"/>

{{/section}}
{{#section 'js'}}
  <script src="../../../public/assets/js/validator.js"></script>
  <script>
      Validator({
          form: '#form-1',
          rules: [
              Validator.isEmail('#email'),
              Validator.isRequired('#description', "Please input lecture description"),
          ]
      })
  </script>
{{/section}}
<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.image) }}
                src="../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../public/assets/images/{{this.user.image}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/my_course">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>
        
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          <div class="card-header">
            <h3>Account</h3>
            <p>Edit your account settings and change your password here.</p>
          </div>

          <div class="card-body">
            <form id="form-1" method="post" action="/profile">
              <div class="pl-5 pr-5">
                <div class="input-group form-group">
                  <label class="h6" for="">Email:</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{this.user.email}}"
                      id="email"
                    />
                  </div>
                  <span class="form-message"></span>
                </div>
                <div class="input-group form-group">
                  <label class="h6" for="">Password:</label>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter current password"
                    />
                  </div>
                  <span class="form-message"></span>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter new password"
                    />
                  </div>
                  <span class="form-message"></span>
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Re-type new password"
                    />
                  </div>
                  <span class="form-message"></span>
                </div>

                <button type="submit" class="btn btn-primary d-flex px-4">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>