{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/my_course.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/teacher_profile.css"
  />
  <style>
     
        footer {
         margin-top: 50px;
        }
      
    </style>
{{/section}}

<div class="container-fluid" style="margin-top: 80px; min-height: 600px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
               <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.image) }}
                src="../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../public/assets/images/{{this.user.image}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/account_security">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>

      </nav>
      <div class="col-9 h-100">
        <div class="card-body" style="display: flex;">
          <div class="dropdown col-4">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Newest
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Newest</a>
              <a class="dropdown-item" href="#">Oldest</a>
              <a class="dropdown-item" href="#">A-Z</a>
              <a class="dropdown-item" href="#">Z-A</a>
            </div>
          </div>
          <div class="col-8">
            <a class="btn btn-primary float-right" href="/teacher/course/s1">New
              course</a>
          </div>
        </div>
        <div class="card-body">
          {{#if courses}}
            {{#each courses}}
            <div class="menu-item row border" style="padding-top: 10px; position:relative;">
              <div class="col-3">
                <img
                  class="img-thumbnail"
                  style="padding: 0;"
                  src="../../public/assets/images/{{image}}"
                  alt=""
                />
              </div>
              <div class="col-7">
                <b>{{name}}</b>
                <div class="r">
                  <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
                  {{#each fullStar}}
                    <span class="fa fa-star checked"></span>
                  {{/each}}
                  {{#each halfStar}}
                    <span class="fa fa-star-half-o star"></span>
                  {{/each}}
                  {{#each blankStar}}
                    <span class="fa fa-star"></span>
                  {{/each}}
                  <span style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);">({{CourseRatingVote}})</span>
                </div>
                <b>{{price}}</b>
                <p class="category-label">{{categoryName}}</p>
              </div>
              <div class="col-2">
                <p class="category-label">{{status}}</p>
              </div>
              <div class="edit-btn">
                <a href="/teacher/course/{{_id}}/info" class="btn btn-primary mr-3 font-weight-bold" >Manage</a>
                <a href="/courses/{{_id}}" class="btn btn-primary font-weight-bold">View</a>
              </div>
            </div>
            {{/each}}
          {{else}} 
          <div class="text-center" style="font-size:25px; font-weight:400"><p>You have not any course.</p></div>
          {{/if}}
        </div>
        <div class="row mx-auto" style="width:20%;">
           {{#if havePagination}}
          <ul class="pagination">
            {{#if firstPage}}
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{prevPage}}">Previous</a>
              </li>
            {{/if}}
            {{#each this.pageNumbers}}
              {{#if isCurrent}}
                <li class="page-item active" aria-current="page">
                  <span class="page-link">{{value}}</span>
                </li>
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?page={{value}}">{{value}}</a>
                </li>
              {{/if}}
            {{/each}}
            {{#if lastPage}}
              <li class="page-item disabled">
                <span class="page-link">Next</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{nextPage}}">Next</a>
              </li>
            {{/if}}
          </ul>
        {{/if}}
        </div>
        

        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#section "js"}}
  <script>
    {{! const $$ = document.querySelectorAll.bind(document);
  const courses = $$('.menu-item') }}

    $('.menu-item').hover(function() {
    $(this).find('.edit-btn').toggleClass('active'); })

  </script>
{{/section}}