{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/teacher_profile.css"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css" />
{{/section}}
{{#section 'js'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/themes/fa4/theme.min.js"></script>
  <script>
    $('#teacher-avatar').fileinput({
      dropZoneEnabled: false,
      maxFileCount: 1,
      theme: 'fa4',
      allowedFileExtensions: ['jpg', 'png', 'gif'],
    });
  </script>
  
{{/section}}

<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.image) }}
                src="../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../public/assets/images/{{this.user.image}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link active" href="/teacher/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/account_security">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/my_course">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Last course</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Course 1
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          <div class="card-header">
            <h3>Photo</h3>
            <p>Add a nice photo of yourself for your profile</p>
          </div>
          <div class="card-body ml-5 mr-5">
            <form method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="" class="d-flex h6">Image preview</label>
                <div class="bg-light border">
                  <div class="mx-auto col-6 p-3">
                    <img
                      {{#if (isEmpty this.user.image) }}
                      src="../../public/assets/images/no_avt_male.png"
                      {{else}}
                      src="../../public/assets/images/{{this.user.image}}"
                      {{/if}}
                      class="img-fluid"
                      alt="Avatar"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="teacher-avatar" class="d-flex h6">Add/Change Image</label>
                <input type="file" id="teacher-avatar" name="teacher-avatar">
              </div>
              <button
                type="submit"
                class="btn btn-primary d-flex px-4 course-btn"
              >Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>