{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../public/assets/css/teacher/teacher_profile.css"
  />
  {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"> }}
  <style>
    footer {
      margin-top:20px;
    }
  </style>
{{/section}}

{{#section "js"}}
  {{! <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script> }}
  <script src="https://cdn.tiny.cloud/1/dhym75o8q7p25h4vk3ps6ixfp187x91lij9utf6fedskb069/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline | numlist bullist | alignleft aligncenter alignright | forecolor backcolor table link',
      ],
    });
  </script>

{{/section}}

<div class="container-fluid" style="margin-top: 80px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.image) }}
                src="../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../public/assets/images/{{this.user.image}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/account_security">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/my_course">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          <div class="card-header">
            <h3>Public profile</h3>
            <p>Add information about yourself</p>
          </div>

          <div class="card-body">
            <form method="post" id="form-update">
              <div class="pl-5 pr-5">
                <div class="input-group form-group">
                  <input
                    type="text"
                    class="form-control"
                    value="{{this.user.firstName}}"
                    name="firstName"
                  />
                </div>
                <div class="input-group form-group">
                  <input
                    type="text"
                    class="form-control"
                    value="{{this.user.lastName}}"
                    name="lastName"
                  />
                </div>

                <div class="input-group form-group" style="margin-bottom: 2px;">
                  <input
                    type="text"
                    class="form-control"
                    {{#if (isEmpty this.user.headline) }}
                    placeholder="Headline"
                    {{else}}
                    value="{{this.user.headline}}"
                    {{/if}}
                    name="headline"
                  />
                </div>
                <p
                  class="form-group"
                  style="font-size: 12px; text-align: left;"
                >Add a professional headline like, "Instructor at Udemy" or
                  "Architect."</p>

                <!-- Create the editor container -->
                <div style="margin-bottom: 2px;">
                  <textarea id="desc" name="description">
                    {{#if (isEmpty this.user.description)}}
                    
                    {{else}}
                    {{{this.user.description}}}
                    {{/if}}
                  </textarea>
                </div>
                <p
                  class="form-group"
                  style="font-size: 12px; text-align: left;"
                >Add description</p>

                <button
                  type="submit"
                  class="btn btn-primary d-flex px-4"
                >Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>