{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/teacher/teacher_profile.css"
  />
  <link rel="stylesheet" type="text/css" href="../../../public/assets/css/validation/form.css"/>  
  <style>
      footer {
        margin-top: 50px;
      }
  </style>
  <link rel="stylesheet" href="../../../public/assets/css/footer.css" />
{{/section}}
{{#section 'js'}}
  <script src="../../../public/assets/js/validator.js"></script>
  <script>
      Validator({
          form: '#form-1',
          rules: [
              Validator.isEmail('#email'),
              Validator.isRequired('#password', "Please input your password"),
          ]
      })
       Validator({
          form: '#form-2',
          rules: [
              Validator.isRequired('#p1', "Please input your password"),
              Validator.minLength('#p2', 6),
              Validator.isCorrect('#p3', '#p2'),
          ]
      });
  </script>
{{/section}}
<div class="container-fluid" style="margin-top: 80px; min-height: 600px;">
  <div class="container">
    <div class="row">
      <nav class="col-2 bg-light sidebar">
        <ul class="nav flex-column">
          <li>
            <div class="img-profile">
              <img
                class="rounded-circle img-thumbnail img-avt"
                {{#if (isEmpty this.user.image) }}
                src="../../../public/assets/images/no_avt_male.png"
                {{else}}
                src="../../../public/assets/images/{{this.user.image}}"
                {{/if}}
                alt="avatar"
              />
            </div>
            <div>
              <p class="h6 img-name">{{this.user.firstName}} {{this.user.lastName}}</p>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile">
              <span data-feather="home"></span>
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/photo">
              <span data-feather="file"></span>
              Photo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="shopping-cart"></span>
              Account Security
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/profile/my_course">
              <span data-feather="users"></span>
              My Course
            </a>
          </li>
        </ul>
        
      </nav>
      <div class="col-9 h-100">
        <div class="card text-center">
          {{#if err_message}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Update failed!</strong> {{err_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {{/if}}

          <div class="card-header">
            <h3>Account</h3>
            <p>Edit your account settings and change your password here.</p>
          </div>

          <div class="card-body">
              <div class="pl-5 pr-5">
                <div class="input-group form-group">
                  <label class="h6" for="">Email:</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      value="{{this.user.email}}"
                      readonly
                    />
                    <button
                      class="btn btn-primary fa fa-pencil btn-email"
                      type="button"
                      data-toggle="modal"
                      data-target="#form-update-modal2"
                    >
                    </button>

                    <div
                      class="modal fade"
                      id="form-update-modal2"
                      tabindex="-1"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog" style="top: 20%;">
                        <div class="modal-content">
                          <div
                            class="modal-header"
                            style="background-color: #2b6777; color: #ffffff; opacity: 0.9;"
                          >
                            <h5
                              class="modal-title"
                              id="form-update-modalLabel2"
                            >Change your email</h5>
                            <button
                              type="button"
                              class="close"
                              data-dismiss="modal"
                              aria-label="Close"
                            >
                            </button>
                          </div>

                          <form method="post" action="/teacher/profile/account_security/email" id="form-1">
                            <div class="modal-body">
                              <div class="form-group">
                                <input
                                  id="email"
                                  type="text"
                                  name="email"
                                  class="form-control"
                                  value="{{this.user.email}}"
                                  placeholder="Your email address"
                                />
                                <span class="form-message"></span>
                              </div>

                              <div class="form-group">
                                <input
                                  id="password"
                                  type="password"
                                  name="password"
                                  class="form-control"
                                  placeholder="Password"
                                />
                                <span class="form-message"></span>
                              </div>
                            </div>

                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >Close</button>
                              <button
                                type="submit"
                                class="btn btn-primary course-btn"
                              >Save</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="form-message"></span>
                </div>

                
                <form method="post" action="/teacher/profile/account_security" id="form-2">
                  <div class="input-group">
                    <label class="h6" for="">Password:</label>
                    <div class="form-group input-group" style="display: flex; flex-direction: column;">
                      <input
                        id="p1"
                        type="password"
                        name="password"
                        class="form-control w-100"
                        placeholder="Enter current password"
                      />
                      <span class="form-message"></span>
                    </div>
                  
                    <div class="form-group input-group" style="display: flex; flex-direction: column;">
                      <input
                        id="p2"
                        type="password"
                        name="newpassword"
                        class="form-control w-100"
                        placeholder="Enter new password"
                      />
                      <span class="form-message"></span>
                    </div>
                    
                    <div class="form-group input-group" style="display: flex; flex-direction: column;">
                      <input
                        id="p3"
                        type="password"
                        name="prepassword"
                        class="form-control w-100" 
                        placeholder="Re-type new password"
                      />
                       <span class="form-message"></span>
                    </div>
                   
                    <button type="submit" class="btn btn-primary d-flex px-4">Save</button>
                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>