{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/admin/edit.css"
  />
{{/section}}
<form method="post" class="form-submit">
  <div
    class="card col-md-9"
    style="margin-left: auto; margin-right:auto; padding:0"
  >
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Edit Language
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtLanguageID" style="font-weight:bold">Language ID</label>
        <input
          name="LanguageID"
          type="text"
          class="form-control"
          id="txtLanguageID"
          value="{{language._id}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCurrentLanguageName" style="font-weight:bold">Current
          Name</label>
        <input
          name="CurrentLanguageName"
          type="text"
          class="form-control"
          id="txtCurrentLanguageName"
          value="{{language.name}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCurrentLanguageImage" style="font-weight:bold">Current
          Image Link</label>
        <input
          name="CurrentLanguageImage"
          type="text"
          class="form-control"
          id="txtCurrentLanguageImage"
          value="{{language.image}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCurrentCategoryName" style="font-weight:bold">Current
          Category Name</label>
        <input
          name="CurrentCategoryName"
          type="text"
          class="form-control"
          id="txtCurrentCategoryName"
          value="{{language.categoryName}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtLanguageName" style="font-weight:bold">New Language's
          Name</label>
        <div id="LanguageName">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="LanguageNameText">Please fill out Language's name</span>
        </div>
        <input
          name="LanguageName"
          type="text"
          class="form-control"
          id="txtLanguageName"
          value="{{language.name}}"
          placeholder="Enter new language's name"
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtLanguageImage" style="font-weight:bold">New Language's
          Image Link</label>
        <div id="LanguageImage">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="LanguageImageText">Please fill out Language's image link</span>
        </div>
        <input
          name="LanguageImage"
          type="text"
          class="form-control"
          id="txtLanguageImage"
          value="{{language.image}}"
          placeholder="Enter new language's link image"
        />
      </div>
      <div class="form-group mb-3">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options
              Category</label>
          </div>
          <select
            class="custom-select"
            id="inputGroupSelect01"
            name="CategoryName"
          >
            {{#each categories}}
              <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

    </div>
    <div class="card-footer d-flex text-muted justify-content-between">
      <a
        class="btn btn-outline-success"
        href="/admin/managelanguage"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <div>
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete
        </button>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this language ?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Close</button>
                <button
                  type="submit"
                  class="btn btn-danger"
                  formaction="/admin/editlanguage/del"
                >Delete</button>
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-save"
          formaction="/admin/editlanguage/patch"
        >
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</form>
{{#section "js"}}
  <script src="../../../public/assets/js/admin/editLanguage.js"></script>
{{/section}}