{{#section "css"}}
  <link
    rel="stylesheet"
    type="text/css"
    href="../../../public/assets/css/admin/edit.css"
  />
  <style>
    footer
    { margin-top: 50px; } 
  </style>
{{/section}}
<form method="post" class="form-submit" style="min-height: 600px;">
  <div
    class="card col-md-9"
    style="margin-left: auto; margin-right:auto; padding:0"
  >
    <h4
      class="card-header d-flex justify-content-between"
      style="background-color:#52ab98; color:#fff"
    >
      Edit Category
    </h4>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCategoryID" style="font-weight:bold">Category ID</label>
        <input
          name="CategoryID"
          type="text"
          class="form-control"
          id="txtCategoryID"
          value="{{category._id}}"
          readonly
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryCurrentName" style="font-weight:bold">Current
          Name</label>
        <input
          name="CategoryCurrentName"
          type="text"
          class="form-control"
          id="txtCategoryCurrentName"
          value="{{category.name}}"
          readonly
        />

      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryCurrentImage" style="font-weight:bold">Current
          Image</label>
        <input
          name="CategoryCurrentImage"
          type="text"
          class="form-control"
          id="txtCategoryCurrentImage"
          value="{{category.image}}"
          readonly
        />

      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryName" style="font-weight:bold">New Category's
          Name</label>
        <div id="CategoryName">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="CategoryNameText">Please fill out Category's name</span>
        </div>
        <input
          name="CategoryName"
          type="text"
          class="form-control"
          id="txtCategoryName"
          value="{{category.name}}"
          placeholder="Enter new category's name"
        />
      </div>
      <div class="form-group mb-3">
        <label for="txtCategoryImage" style="font-weight:bold">New Category's
          Image Link</label>
        <div id="CategoryImage">
          <i class="fa fa-exclamation" aria-hidden="true"></i>
          <span id="CategoryImageText">Please fill Category's image link</span>
        </div>
        <input
          name="CategoryImage"
          type="text"
          class="form-control"
          id="txtCategoryImage"
          value="{{category.image}}"
          placeholder="Enter new category's link image"
        />
      </div>

    </div>
    <div class="card-footer d-flex text-muted justify-content-between">
      <a
        class="btn btn-outline-success"
        href="/admin/managecategory"
        role="button"
      >
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back
      </a>
      <div>
        <button
          type="button"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete
        </button>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure want to delete this category ?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Close</button>
                <button
                  type="submit"
                  class="btn btn-danger"
                  formaction="/admin/editcategory/del"
                >Delete</button>
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-save"
          formaction="/admin/editcategory/patch"
        >
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>
  </div>
</form>
{{#section "js"}}
  <script src="../../../public/assets/js/admin/editCategory.js"></script>
{{/section}}