{{#section "css"}}
  <link rel="stylesheet" href="../../public/assets/css/course_details.css" />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://vjs.zencdn.net/7.20.3/video-js.css"
  />
{{/section}}
{{#section "js"}}
  <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
{{/section}}
<div class="main-content-courses-details">
  <div class="container-course">
    <div class="heading-course">
      <div class="row">
        <div class="col-md-7">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #2b6777">
              <li class="breadcrumb-item"><a
                  href="/categories?category={{course.categoryName}}"
                >{{course.categoryName}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a
                  href="/categories?category={{course.categoryName}}&language={{course.languageName}}"
                >{{course.languageName}}</a>
              </li>
            </ol>
          </nav>
          <h1>{{course.name}}</h1>
          <div class="describe-details">
            {{course.briefDescription}}
          </div>
          <div class="rating">
            <a href="#">
              <span> {{course.ratingPoint}} </span>
              {{#star course.ratingPoint}}{{/star}}
            </a>
            <a
              href="#"
              style="color: rgb(114, 203, 255)"
            >({{course.numberOfFeedbacks}} ratings)</a>
            <span>{{course.numberOfStudents}} students</span>
          </div>
          <div class="created">
            <span>Created by</span>
            <a>{{instructor.firstName}} {{instructor.lastName}}</a>
          </div>
          <div>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>Last updated {{course.updatedAt}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="body-course">
      <div class="row">
        <div class="main-content col-md-7">
          <div class="course-curriculum">
            <div>
              <div class="main-title">
                <h2>Course content</h2>
              </div>
              <div class="curriculum-header">
                <div class="accordion-panel">
                  <div
                    id="accordianId"
                    role="tablist"
                    aria-multiselectable="true"
                  >
                    <div class="card">
                      <div class="card-header" role="tab" id="section1HeaderId">
                        <h5 class="mb-0">
                          <div
                            data-toggle="collapse"
                            data-parent="#accordianId"
                            href="#section1ContentId"
                            aria-expanded="true"
                            aria-controls="section1ContentId"
                          >
                            <div class="accordion-course">
                              <i
                                class="fa fa-chevron-down icon"
                                aria-hidden="true"
                              ></i>
                              <div class="block-title">
                                <button class="btn-list-course">
                                  <span class="course-title">
                                    <span>Course Overview</span>
                                    <span>
                                      <span>{{inforCourse.lengthCourse}}
                                        lectures •
                                      </span>
                                      <span>{{inforCourse.totalTime}}min</span>
                                    </span>
                                  </span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </h5>
                      </div>
                      <div
                        id="section1ContentId"
                        class="collapse in"
                        role="tabpanel"
                        aria-labelledby="section1HeaderId"
                      >
                        <div class="block-video">
                          <div class="video-lecture-preview">
                            <video
                              id="my-video"
                              class="video-js"
                              controls
                              preload="auto"
                              data-setup="{}"
                              style="height: 45vh;"
                            >
                              <source
                                src="../../../public/assets/videos/{{videoOfFirstLecture}}"
                                type="video/webm"
                              />
                              <p class="vjs-no-js">
                                To view this video please enable JavaScript, and
                                consider upgrading to a web browser that
                                <a
                                  href="https://videojs.com/html5-video-support/"
                                  target="_blank"
                                >supports HTML5 video</a>
                              </p>
                            </video>
                          </div>
                        </div>
                        <div class="card-body body-course-list">
                          <ul class="block-list">
                            {{#each lectureList}}
                              <li>
                                <div class="section-previewable">
                                  <i
                                    class="fa fa-play-circle icon-item-content"
                                    aria-hidden="true"
                                  ></i>
                                  <div class="block-list-item-content">
                                    <div class="block-btn">
                                      <button
                                        class="btn-item-course btn-hidden"
                                      >
                                        {{name}}
                                      </button>
                                    </div>
                                    <div class="review-time">
                                      <span
                                      >{{times.min}}:{{times.seconds}}</span>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            {{/each}}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-requirements">
            <div class="main-title">
              <h2>Requirements</h2>
            </div>
            <div class="req-content">
              <ul>
                <li>Access to a computer with an internet connection.</li>
              </ul>
            </div>
          </div>
          <div class="main-description">
            <div class="main-title">
              <h2>Description</h2>
            </div>
            <div class="des-content">
              {{{course.detailDescription}}}
            </div>
          </div>
          <div class="hint-5-courses">
            <!-- 5 khoa hoc duoc goi y-->

          </div>
          <div class="main-instructor">
            <div class="main-title">
              <h2>Instructor</h2>
            </div>
            <div class="content-instructor">
              <div><a href="#">{{instructor.firstName}}
                  {{instructor.lastName}}</a></div>
              <div class="des-content">{{instructor.headline}}</div>
              <div class="teacher-items">
                <div class="block-img">
                  <img
                    src="../../public/assets/images/{{instructor.image}}"
                    alt="Avatar"
                  />
                </div>

                <div class="block-items">
                  <ul style="height: 3.7rem;">
                    <li>
                      <i class="fa fa-users" aria-hidden="true"></i>
                      <span>{{instructor.numberOfStudents}} Students</span>
                    </li>
                    <li>
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                      <span>{{instructor.numberOfCourses}} Courses</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div>
                {{{instructor.description}}}
              </div>
            </div>
          </div>
          <div class="main-rating">
            <div class="main-title">
              <h2>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>{{course.ratingPoint}} course rating</span>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>{{course.numberOfFeedbacks}} ratings</span>
              </h2>
              {{#each feedbackList}}
                <div class="content-rating">
                  <div class="review-container">
                    <div class="review-heading">
                      <div class="review-profile">
                        <div class="block-img">
                          {{#if (isEmpty user.image)}}
                            {{#if gender}}
                              <img
                                src="../../public/assets/images/no_avt_male.png"
                                alt="avatar"
                              />
                            {{else}}
                              <img
                                src="../../public/assets/images/no_avt_female.png"
                                alt="avatar"
                              />
                            {{/if}}
                          {{else}}
                            <img
                              src="../../public/assets/images/{{user.image}}"
                              alt="avatar"
                            />
                          {{/if}}
                        </div>
                        <div class="review-infomation">
                          <h3>{{user.lastName}} {{user.firstName}}</h3>
                          {{#star feedback.numberRated}}{{/star}}
                          <span class="week">{{feedback.createdAt}}</span>
                        </div>
                      </div>
                      <div class="popper">
                        <div class="btn-group">
                          <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="triggerId"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          ></button>
                          <div
                            class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="triggerId"
                          >
                            <a class="dropdown-item" href="#">Report</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="review-content">
                      {{feedback.content}}
                    </div>
                    <div class="rewiew-rating">
                      <div class="help">Helpful?</div>
                      <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

    {{! Model sibar }}
    <form method="post">
      <div class="sidebar-container-model">
        <div class="main-content-model">
          <div class="block-img">
            <img src="../../public/assets/images/{{course.image}}" alt="" />
          </div>
          <div class="block-content">
            <div class="title-course">$ {{course.price}}</div>
            <div class="btn-course">
              {{#if checkLogin}}
                {{#if checkCourseExists}}
                  <a
                    type="submit"
                    class="btn btn-primary btn-buy btn-learn"
                    href="/courses/learn/{{firstIdLecture}}"
                  >
                    Learn now</a>
                {{else}}
                  <button
                    type="submit"
                    class="btn btn-primary btn-buy"
                    formaction="/student/add_courses/post"
                  >Buy now</button>
                {{/if}}

                {{#if checkFavorites}}
                  <button
                    type="submit"
                    class="fa fa-heart btn btn-primary btn-like"
                    formaction="/student/remove_courses_favorite/post"
                  ></button>
                {{else}}
                  <button
                    type="submit"
                    class="fa fa-heart-o btn btn-primary btn-like"
                    formaction="/student/add_courses_favorite/post"
                  ></button>
                {{/if}}
              {{else}}
                <a
                  class="btn btn-primary btn-buy btn-learn"
                  href="/account/login"
                >Buy now</a>
                <a
                  class="fa fa-heart-o btn btn-primary btn-like btn-like-a"
                  href="/account/login"
                ></a>
              {{/if}}
            </div>
            <div class="desciption-course">
              <div class="title-des">This course includes:</div>
              <ul>
                <li>
                  <div class="block-list-items">
                    <div
                      class="fa fa-television item-icon"
                      aria-hidden="true"
                    ></div>
                    <div class="item-content">
                      <span>{{inforCourse.totalTime}}
                        minutes on-demand video</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block-list-items">
                    <div
                      class="fa fa-clock-o item-icon"
                      aria-hidden="true"
                    ></div>
                    <div class="item-content">
                      <span>
                        Full lifetime access
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block-list-items">
                    <div
                      class="fa fa-mobile item-icon"
                      aria-hidden="true"
                    ></div>
                    <div class="item-content">
                      Access on mobile and TV
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block-list-items">
                    <div
                      class="fa fa-trophy item-icon"
                      aria-hidden="true"
                    ></div>
                    <div class="item-content">
                      Certificate of completion
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>