<div class="main-container">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="p-5 pt-5">
      <h3 style="font-weight: 600;">Categories</h3>
      <ul class="list-unstyled components mb-5">
        {{#each CatList}}
          <li>
            <div class="category-container" href="#pageSubmenu{{CatID}}" data-toggle="collapse" aria-expanded="false">
              <a class="category">{{CatName}}</a>
              <div class="dropdown-arrow rotate"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
            </div>
            <ul class="collapse list-unstyled" id="pageSubmenu{{CatID}}">
              {{#each LanguegeList}}
                <li><a href="/categories/{{../CatName}}/{{LanguegeName}}"><span
                      class="fa fa-chevron-right mr-2"
                    ></span>{{LanguegeName}}</a></li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">{{category}} - {{language}}</h2>

    {{#each courses}}
      <div class="course-container">
        <div class="course">
          <img class="course-img" src="{{CourseImage}}" alt="" />
          <div class="course-info">
            <b style="font-size: 20px;">{{CourseName}}</b>
            <p style="margin-bottom: 5px;">{{CourseDescription}}</p>
            <p style="font-size: 12px; margin-bottom: 0px; color: rgb(109, 107, 107);">{{CourseAuthor}}</p>
            <div class="rate">
              <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
              {{#each fullStar}}
                <span class="fa fa-star star"></span>
              {{/each}}
              {{#each halfStar}}
                <span class="fa fa-star-half-o star"></span>
              {{/each}}
              {{#each blankStar}}
                <span class="fa fa-star-o star"></span>
              {{/each}}
              <span
                style="font-size: 14px; margin-bottom: 3px; color: rgb(109, 107, 107);"
              >({{CourseRatingVote}})</span>
            </div>
            <div class="category-lable-container">
              <p class="category-lable category-level-I">{{CourseCategory}}</p>
              <p class="category-lable category-level-II">{{CourseLanguage}}</p>
            </div>
          </div>
        </div>
        <p class="price">{{CoursePrice}}đ</p>
      </div>
    {{/each}}
    <!-- Pagination  -->
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</div>

{{! <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
  $(".rotate").click(function () { $(this).toggleClass("down"); })
</script> }}