{{#section "css"}}
  <link rel="stylesheet" type="text/css" href="../../../public/assets/css/categories.css" />
{{/section}}

<div class="main-container">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="p-5 pt-5">
      <a class="categories" href="/categories">Categories</a>
      <ul class="list-unstyled components mb-5">
        {{#each CatList}}
          <li>
            <div class="category-container">
              {{#if isActive}}
                <a class="category isActive" href="/categories?category={{name}}">{{name}}</a>
              {{else}}
                <a class="category" href="/categories?category={{name}}">{{name}}</a>
              {{/if}}
              <div class="dropdown-arrow rotate"><i
                  class="fa fa-angle-down"
                  aria-hidden="true"
                  data-toggle="collapse"
                  aria-expanded="false"
                  href="#pageSubmenu{{_id}}"
                ></i></div>
            </div>
            <ul class="collapse show list-unstyled" id="pageSubmenu{{_id}}">
              {{#each languageList}}
                <li class="language-container">
                  {{#if isActive}}
                      <a class="language isActive" href="/categories?category={{../name}}&language={{name}}"><span
                        class="fa fa-chevron-right mr-2 language isActive"
                      ></span>{{name}}</a>
                    {{else}}
                      <a class="language" href="/categories?category={{../name}}&language={{name}}"><span
                        class="fa fa-chevron-right mr-2 language"
                      ></span>{{name}}</a>
                    {{/if}}
                    <p class="course-number">({{courseQuantity}})</p>
                    </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->

  <div id="content" class="p-4 p-md-5 pt-5">
    <div class="title-sort-contaner">
    {{#if key}}
      <h2>{{results}} results for &quot;{{key}}&quot;</h2>
    {{else}}
      {{#if category}}
        {{#if language}}
          <h2>{{category}} - {{language}}</h2>
        {{else}}
        <h2>{{category}}</h2>
      {{/if}}
      {{else}}
        <h2>{{language}}</h2>
      {{/if}}
    {{/if}}

    {{#if noData}}
      <img class="no-data" src="../../../public/assets/images/nodata.png" alt="" />

    {{else}}
      <div class="dropdown">
        <a
          class="btn dropdown-toggle"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
            style="border: 1px solid rgba(0, 0, 0, 0.2)"
        >
        {{#if hasSort}}
          {{sort}}
        {{else}}
          Most Relevant
        {{/if}}
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{currentURL}}&sort=highest-rated">Highest Rated</a>
          <a class="dropdown-item" href="{{currentURL}}&sort=lowest-price">Lowest Price</a>
          <a class="dropdown-item" href="{{currentURL}}&sort=most-relevant">Most Relevant</a>
        </div>
      </div>
      </div>

      {{#each courses}}
        <div class="course-container">
          <div class="course">
            <div class="parent-image">
            <img class="course-img" src="{{image}}" alt="" />
            {{#if bestSeller}}
                <img
                  src="../../../public/assets/images/bestseller.png"
                  alt=""
                  class="bestseller"
                />
              {{/if}}
            </div>
            <div class="course-info">
              <div>
                <b style="font-size: 20px;">{{name}}</b>
                <p style="margin-bottom: 5px;">{{briefDescription}}</p>
                <div class="sub-info-container">
                  <p class="sub-info-item">{{createdBy}}</p>
                  <p class="sub-info-item">{{CourseViews}} views</p>
                  <p class="sub-info-item">{{students}} students</p>
                  <p class="sub-info-item">Posting date:
                    {{createdAt}}</p>
                </div>
                <div class="rate">
                  <span style="font-weight: bold; color: #CE810E;">{{CourseRatingPoint}}</span>
                  {{#each fullStar}}
                    <span class="fa fa-star star"></span>
                  {{/each}}
                  {{#each halfStar}}
                    <span class="fa fa-star-half-o star"></span>
                  {{/each}}
                  {{#each blankStar}}
                    <span class="fa fa-star-o star"></span>
                  {{/each}}
                  <span
                    style="font-size: 14px; margin-bottom: 3px; color: gray; vertical-align: text-top"
                  >({{CourseRatingVote}})</span>
                </div>
                <div class="category-lable-container">
                  <p class="category-lable label1">{{categoryName}}</p>
                  <p class="category-lable label2">{{languageName}}</p>
                  {{#if new}}
                    <p class="category-lable label3">New</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
          <p class="price">${{price}}</p>
        </div>
      {{/each}}
      <!-- Pagination  -->
      {{#if havePagination}}
        <ul class="pagination justify-content-center">
          {{#if firstPage}}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="{{prevPage}}">Previous</a>
            </li>
          {{/if}}
          {{#each this.pageNumbers}}
            {{#if isCurrentPage}}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{value}}</span>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="{{../currentPageURL}}{{value}}">{{value}}</a>
              </li>
            {{/if}}
          {{/each}}
          {{#if lastPage}}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="{{nextPage}}">Next</a>
            </li>
          {{/if}}
        </ul>
      {{/if}}
    {{/if}}
  </div>
</div>

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
  $(".rotate").click(function () { $(this).toggleClass("down"); })
</script>